<h1>Edit Your Patient Profile</h1>

<%= form_for(@patient) do |f| %>
 <div class="field" id="form-style">
   <%= f.label :first_name %>
   <%= f.text_field :first_name, required: true, autofocus: true %>
    <%= f.label :last_name %>
   <%= f.text_field :last_name, required: true %>
    <%= f.label :age %>
   <%= f.text_field :age, required: true%>
    <%= f.label :phone_number %>
   <%= f.text_field :phone_number, required: true%>

   <%= f.submit %>
 </div>
<% end %>